//--------------------------- Tiki CSS variables
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: #232323FF;
    --tiki-top-color: #fff;
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --tiki-top-border: solid rgb(85, 85, 85);
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #232323FF;
    --tiki-topbar-color: #fff;
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
    --tiki-topbar-border: solid rgb(85, 85, 85);
}

@mixin top-nav-light {
    --tiki-top-bg: rgb(255, 255, 255);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-text-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: solid #333;
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: rgb(255, 255, 255);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-text-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-border: solid #333;
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
//[data-bs-theme=light] {                              // color mode
//    .tiki-top-nav-dark {                           // dark top selector
//        @include top-nav-light;                      // light values
//    }
//    .tiki-topbar-nav-dark {
//        @include topbar-nav-light;
//    }
//}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: rgb(255, 255, 255);
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.9);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-top-border: solid #333;
    --tiki-admin-top-border-width: 2px;
    --tiki-admin-aside-nav-bg: rgb(255, 255, 255);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: var(--bs-body-bg);
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    button.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

.tiki.tiki-admin header .navbar-light-parent.tiki-top-nav-light {
    border-radius: 25px 25px 55px 5px / 5px 55px 25px 25px;
}

.navbar-expand-md.navbar-light.bg-light.tiki-topbar-nav-light.tiki-admin-top-nav-light.admin-navbar {
    border: none;
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: rgb(85, 85, 85);
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: #fff;
    --tiki-admin-aside-nav-bg: rgb(85, 85, 85);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #fff;
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item {
        border-width: 0 !important;
    }
    .accordion-item.search-preferences,
    button.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //


:root {
    --tiki-vert-nav-link-color: $link-color;
    --tiki-vert-nav-link-hover-color: $link-hover-color;
}

[data-bs-theme="dark"] {
    --tiki-vert-nav-link-color: rgba(var(--bs-link-color-rgb));
    --tiki-vert-nav-link-hover-color: rgba(var(--bs-link-hover-color-rgb));
    .bg-light,
    .navbar.bg-light {
        background: var(--bs-tertiary-bg) !important;
        .nav-link {
            color: $link-color-dark;
        }
    }
}
